@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Sprawdź swoją pocztę w celu aktywacji konta.
    </p>
    }
    else
    {
<p>
        Aplikacja nie obsługuje potwierdzenia e-mail, <a id="confirm-link" href="@Model.EmailConfirmationUrl"> kliknij tu aby aktywować swoje konto</a>
</p>
    }
}
