@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetuj klucz bezpieczeństwa";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeżeli zresetujesz swój klucz bezpieczeństwa twoja aplikacja autoryzująca nie będzie działać dopóki nie skonfigurujesz jej ponownie.</strong>
    </p>
    <p>
        Ten proces wyłącza dwufazową autoryzację dopóki nie potwierdzisz swojej aplikacji autoryzującej.
        Jeżeli nie dokończysz konfiguracji aplikacji autoryzującej możesz stracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetuj klucz bezpieczeństwa</button>
    </form>
</div>