@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Dwufazowa autoryzacja";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nie masz kodów bezpieczeństwa.</strong>
            <p>You must <a asp-page="./GenerateRecoveryCodes">generuj nowy zestaw kodów bezpieczeństwa</a> zanim zalogujesz się kodem bezpieczeństwa.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Masz tylko 1 kod bezpieczeństwa.</strong>
            <p>You can <a asp-page="./GenerateRecoveryCodes">generuj nowy zestaw kodów bezpieczeństwa</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>You should <a asp-page="./GenerateRecoveryCodes">generuj nowy zestaw kodów bezpieczeństwa</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Zapomnij tą przeglądarkę</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Wyłącz dwufazową autoryzacje</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetuj kody bezpieczeństwa</a>
}

<h5>Aplikacje autoryzujące</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikację autoryzującą</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Skofniguruj aplikację autoryzującą</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetuj aplikację autoryzującą</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}