@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie startowej</h1>
    <br />
    <h2 class="display-4">Aby przejść dalej, zaloguj się</h2>
</div>
