@{
    ViewData["Title"] = "O aplikacji";
}
<body style="background-color:#f1f1f1">
    <hr />
    <div class="text-center">
        <h1 class="display-4">Serwis zarządzania komisem samochodowym powstał jako rezultat pracy inżynierskiej</h1>
        <br />
        <h1>Życzę przyjemnej pracy z aplikacją</h1>
    </div>
    <hr /><br />
    <h2>Krystian Bogiel</h2>
</body>
