@{
    ViewData["Title"] = "O aplikacji";
}
<div class="text-center">
    <h2 class="display-4">Serwis zarządzania komisem samochodowym powstał jako rezultat pracy inżynierskiej</h2>
</div>

    <p>Krystian Bogiel 2020</p>
