
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Indexxx</title>
</head>
<body>
    Strona startowa dashboard
</body>
</html>
